<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<display-name>GPMS Web Application</display-name>
	<welcome-file-list>
		<welcome-file>Login.jsp</welcome-file>
		<welcome-file>Login.html</welcome-file>
		<welcome-file>Login.htm</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- error-code related error pages -->
	<error-page>
		<error-code>404</error-code>
		<location>/Error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/Error.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/Error.jsp</location>
	</error-page>

	<context-param>
		<param-name>tempfile.dir</param-name>
		<param-value>tmpfiles</param-value>
	</context-param>

	<context-param>
		<param-name>proposalupload.dir</param-name>
		<param-value>proposalfiles</param-value>
	</context-param>

	<context-param>
		<param-name>gpms.workers</param-name>
		<param-value>5</param-value>
	</context-param>
	<context-param>
		<param-name>gpms.timeout</param-name>
		<param-value>20</param-value>
	</context-param>
	<context-param>
		<param-name>gpms.queuedepth</param-name>
		<param-value>5000</param-value>
	</context-param>
	<listener>
		<listener-class>gpms.queue.ServletContextListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>GPMS-rest</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>gpms.rest</param-value>
		</init-param>

		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>GPMS-rest</servlet-name>
		<url-pattern>/REST/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GPMS-enterprise-rest</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>gpms.queue</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>GPMS-enterprise-rest</servlet-name>
		<url-pattern>/RESTQ/*</url-pattern>
	</servlet-mapping>
	
	<session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

</web-app>